@model fullstackecommercewebapp.ViewModels.CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Commerce</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="goto-here">

    <div class="hero-wrap hero-bread" style="background-color: #dbcc8f; height:40% !important">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
                    <h1 class="mb-0 bread">Checkout</h1>
                    <br />
                    <h5> Enter your Order Cerdentials below.</h5>
                @*    <h5> If you want to use the same Cerdentials Registerd in you Personal Account, you Can Leave these Fields Empty</h5>*@
                    <div asp-validation-summary="All" class="text-danger"> </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="class=" container justify-content-center ftco-animate">
                <form asp-action="Add" asp-controller="Order" method="post" id="form" class="billing-form">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="w-100"></div>
                            <div class="w-100"></div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="streetaddress">@Html.DisplayNameFor(model => model.Address)</label>
                                    <input asp-for="Address" class="form-control" placeholder="House number and street name">
                                    <span asp-validation-for="Address" class="text-danger"> </span>
                                </div>
                                 <div class="form-group">
                                    <label for="PaystackPaymentReference">@Html.DisplayNameFor(model => model.PaystackPaymentReference)</label>
                                    <input asp-for="PaystackPaymentReference" class="form-control" placeholder="Reference">
                                    <span asp-validation-for="PaystackPaymentReference" class="text-danger"> </span>
                                </div>
                            </div>
                            <input type="hidden" value="@Model.total" name="total" />
                            <div class="w-100"></div>
                            <div class="w-100"></div>
                            <div class="col-xl-10">
                                <div class="form-group">
                                    <label for="phone">@Html.DisplayNameFor(model => model.Phone)</label>
                                    <input asp-for="Phone" class="form-control" placeholder="09xxxxxxxx">
                                    <span asp-validation-for="Phone" class="text-danger"> </span>
                                </div>
                            </div>
                            <div class="w-100"></div>
                        </div>
                        <div class="col-xl-7">
                            <div class="col-md-6 d-flex">
                                <div class="cart-detail cart-total bg-light p-3 p-md-4">
                                    <h3 class="billing-heading mb-4">Cart Total</h3>
                                    <p class="d-flex">
                                        <span>Subtotal</span>
                                        <span>@Model.total GHS</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Delivery</span>
                                        <span>0.00 GHS</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Discount</span>
                                        <span>0.00 GHS</span>
                                    </p>
                                    <hr>
                                    <p class="d-flex total-price">
                                        <span>Total</span>
                                        <span>@Model.total GHS</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 px-4"> Place an order </button>
                </form><!-- END -->
            </div> <!-- .col-md-8 -->
        </div>
    </section> <!-- .section -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>