@model PagedList.IPagedList<fullstackecommercewebapp.Models.Product>
@using PagedList.Mvc;

@{
    ViewData["Title"] = "Products";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ecommerce</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script>
        count = []
    </script>
    @{
        foreach (var item in ViewBag.cartItems)
        {
            <script>
                if (count[@item.Product.Id] == null) {
                    count[@item.Product.Id] = @item.Quantity;
                }
                else {
                    count[@item.Product.Id] += @item.Quantity;
                }
            </script>
        }
    }
</head>

<body class="goto-here">
    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
                    <h1 class="mb-0 bread">Shop</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-10 order-md-last">
                    <div class="row">
                        @{
                            foreach (var item in Model)
                            {
                                <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
                                    <div class="product d-flex flex-column">
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="img-prod">
                                            <img class="img-fluid" src="@item.Image1">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="text py-3 pb-4 px-3">
                                            <div class="d-flex">
                                                <div class="cat">
                                                    <span>Details</span>
                                                </div>
                                                <div class="rating">
                                                    <p class="text-right mb-0">
                                                        <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id"><i class="material-icons">&#xE417;</i> </a>
                                                    </p>
                                                </div>
                                            </div>
                                            <h3><a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">@item.Name</a></h3>
                                            <div class="pricing">
                                                <p class="price"><span>@item.Price GHS</span></p>
                                            </div>
                                            <p class="bottom-area d-flex px-3">
                                                <a style="margin: 0 !important;" onclick="RemoveFromCart(@item.Id)" class="add-to-cart text-center py-2 mr-1"><i class="ion-ios-remove ml-1"></i></a>
                                                <span style="width: 50%; padding: 8px; margin: 0 !important; background-color: white !important; color: black !important; text-align: center" id="@item.Id"> 0 </span>
                                                <a style="margin: 0 !important;" onclick="AddToCart(@item.Id)" class="add-to-cart text-center py-2 mr-1"><i class="ion-ios-add ml-1"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <li class="@(i == Model.PageNumber ? "active" : "")">
                                            <a href="@Url.Action("Index", new { page = i, CurrentProductFilter = ViewBag.CurrentProductFilter, CurrentCategoryFilter = ViewBag.CurrentCategoryFilter,
                                                  CurrentLowPriceFilter = ViewBag.CurrentLowPriceFilter, CurrentHighPriceFilter = ViewBag.CurrentHighPriceFilter})">@i</a>
                                        </li>
                                    }
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2">
                    <div class="sidebar">
                        <div class="sidebar-box-2">
                            @using (Html.BeginForm("Index", "Shop", FormMethod.Get))
                            {
                                <h2 class="heading">Category</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <i class="icon icon-arrow-down3"></i>
                                                <select name="CategorySearchString" class="form-control">
                                                    @{
                                                        if (ViewBag.CurrentCategoryFilter == "")
                                                        {
                                                            <option selected name="CategorySearchString" value="">
                                                                All Categories
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option name="CategorySearchString" value="">
                                                                All Categories
                                                            </option>
                                                        }
                                                        foreach (var category in ViewBag.categories)
                                                        {
                                                            if (ViewBag.CurrentCategoryFilter == category.Name)
                                                            {
                                                                <option selected name="CategorySearchString" value="@category.Name">
                                                                    @category.Name
                                                                </option>
                                                            }
                                                            else
                                                            {
                                                                <option name="CategorySearchString" value="@category.Name">
                                                                    @category.Name
                                                                </option>

                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="heading">Product Name</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <i class="icon icon-arrow-down3"></i>
                                                <input type="text" name="ProductSearchString" value="@ViewBag.CurrentProductFilter" id="people" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="heading">Price Range</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="guests">Price from:</label>
                                            <div class="form-field">
                                                <i class="icon icon-arrow-down3"></i>
                                                <input type="text" name="LowPriceSearchString" value="@ViewBag.CurrentLowPriceFilter" id="people" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="guests">Price to:</label>
                                            <div class="form-field">
                                                <i class="icon icon-arrow-down3"></i>
                                                <input type="text" name="HighPriceSearchString" value="@ViewBag.CurrentHighPriceFilter" id="people" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="@ViewBag.categoryId" />
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-gallery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                    <h2 class="mb-4">Follow Us On Instagram</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-1.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-2.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-5.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-6.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    @{
        foreach (var item in ViewBag.cartItems)
        {
            <script>
                document.getElementById(@item.Product.Id).innerHTML = count[@item.Product.Id];
            </script>
        }
    }
    <script>
        function AddToCart(id) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (count[id] == null)
                        count[id] = 1;
                    else
                        count[id] = count[id] + 1;
                    document.getElementById(id).innerHTML = count[id];
                }
            };
            xmlhttp.open("GET", "/Shop/AddToCart?productId=" + id, true);
            xmlhttp.send();
        }
        function RemoveFromCart(id) {
            if (count[id] != 0) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        count[id] = count[id] - 1;
                        document.getElementById(id).innerHTML = count[id];
                    }
                };
                xmlhttp.open("GET", "/Shop/RemoveFromCart?productId=" + id, true);
                xmlhttp.send();
            }
        }
        function EmptyCart() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    for (var id in count) {
                        count[id] = 0;
                        document.getElementById(id).innerHTML = 0;
                    }
                }
            };
            xmlhttp.open("GET", "/Shop/EmptyCart", true);
            xmlhttp.send();
        }
    </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
