@model PagedList.IPagedList<fullstackecommercewebapp.Models.Product>
@using PagedList.Mvc;

@{ ViewData["Title"] = "Products"; }


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Categories</title>
    <link rel="stylesheet" href="~/css/CRUD.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        table.table td a.edit {
            margin-right: 10px;
        }

        table.table td a.view {
            margin-right: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        function checkDelete(id) {
            var link = '@Url.ActionLink("Delete","Product", new { id = "-1" })';
            link = link.replace("-1", id);
            Swal.fire({
                title: 'Are you sure you want to delete this Product?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                timer : 3600000,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = link;
                }
            })
        }
    </script>
    <script src="~/js/sweetalert2.js"></script>
    @{ if (ViewBag.msg == "added")
        {
            <script>

                Swal.fire({
                    icon: 'success',
                    title: 'This Product has been added successfully',
                    showConfirmButton: false,
                    timer: 1500
                })
            </script>
        }
        if (ViewBag.msg == "edited")
        {
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'This Product has been edited successfully',
                    showConfirmButton: false,
                    timer: 1500
                })
            </script>
        }
        if (ViewBag.msg == "deleted")
        {
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'This Product has been deleted successfully',
                    showConfirmButton: false,
                    timer: 1500
                })
            </script>
        }
        if (ViewBag.msg == "NoDelete")
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'You can not delete this Product!',
                    showConfirmButton: true,
                    timer: 1500
                })
            </script>
        }

    }
</head>

<body>

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg'); height:20px">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
                    <h1 class="mb-0 bread">Products</h1>
                    <div asp-validation-summary="All" class="text-danger"> </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row float-right">
                <a asp-action="Add" class="btn btn-primary"><i class="material-icons">&#xE863;</i> <span>Add New Product</span></a>
            </div>

            <div class="row" style="height:45px"></div>
            <div class="row table-filter">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    <div class="filter-group" style="width:50px;">
                        <button type="submit" style="background-color:transparent; border:hidden; width:50px;"><i style="width:50px;" class="fa fa-search"></i> </button>
                    </div>
                    <div class="filter-group">
                        <label> Category Name</label>
                        @Html.TextBox("CategorySearchString", ViewBag.CurrentCategoryFilter as string)
                    </div>
                    <div class="filter-group">
                        <label>Company Name</label>
                        @Html.TextBox("CompanySearchString", ViewBag.CurrentCompanyFilter as string)
                    </div>

                    <div class="filter-group">
                        <label>Product Name</label>
                        @Html.TextBox("ProductSearchString", ViewBag.CurrentProductFilter as string)
                    </div>
                    <span class="filter-icon"><i class="fa fa-filter"></i></span>
                }
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <div class="table-responsive">
                            <table class="table text-nowrap table-striped table-hover">
                                <thead class="thead-primary">
                                    <tr class="text-center">
                                        <th class="align-middle">
                                            @Html.ActionLink("Name", "Index", new
                                            {
                                           sortOrder = ViewBag.NameSortParm,
                                           CurrentCategoryFilter = ViewBag.CurrentCategoryFilter,
                                           CurrentCompanyFilter = ViewBag.CurrentCompanyFilter,
                                           CurrentProductFilter = ViewBag.CurrentProductFilter
                                            },
                                           new { title = "Sort By Name", style = "color:white"})
                                        </th>
                                        <th class="align-middle">
                                            SKU
                                        </th>
                                        <th class="align-middle">
                                            Category Name
                                        </th>
                                        <th class="align-middle">
                                            @Html.ActionLink("Unit Price", "Index", new
                                            {
                                           sortOrder = ViewBag.PriceSortParm,
                                           CurrentCategoryFilter = ViewBag.CurrentCategoryFilter,
                                           CurrentCompanyFilter = ViewBag.CurrentCompanyFilter,
                                           CurrentProductFilter = ViewBag.CurrentProductFilter
                                            },
                                           new
                                           {
                                               title = "Sort By Name",
                                               style = "color:white",
                                           })
                                        </th>
                                        <th class="align-middle">
                                            Company Name
                                        </th>
                                        <th class="align-middle">
                                            Image
                                        </th>
                                        <th class="align-middle">
                                            Description
                                        </th>
                                        <th class="align-middle"> &nbsp; </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="text-center">
                                            <td class="product-name">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sku)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.Name)
                                            </td>
                                            <td class="price">
                                                @Html.DisplayFor(modelItem => item.Price) SP
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.CompanyName) Company
                                            </td>
                                            <td class="image-prod">
                                                <img width="100" src="~/images/@Html.DisplayFor(modelItem => item.Image1)" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                <a onclick="checkDelete(@item.Id);" style="cursor: pointer" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix row">
                <div class="hint-text">Page <b>@Model.PageNumber</b> out of <b> @Model.PageCount</b> pages</div>

                <ul class="pagination">
                    <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="@(i == Model.PageNumber ? "page-item active" : "page-item")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, sortOrder = ViewBag.CurrentSort,
                                                       CurrentCompanyFilter = ViewBag.CurrentCompanyFilter,
                                                        CurrentProductFilter = ViewBag.CurrentProductFilter,
                                                      CurrentCategoryFilter = ViewBag.CurrentCategoryFilter })">@i</a>
                        </li>
                    }
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
</body>

